# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
# .circleci/config.yml
version: 2.1

orbs:
  gcp-gcr: circleci/gcp-gcr@0.6.0
  gcp-gke: circleci/gcp-gke@0.1.0
  featurepeek: featurepeek/ping@0.0.2

executors:
  default:
    machine: true

commands:
  get_cluster:
    parameters:
      cluster:
        type: string
    steps:
      - run: gcloud container clusters get-credentials << parameters.cluster >> --zone ${GOOGLE_COMPUTE_ZONE} --project ${GOOGLE_PROJECT_ID}
  deploy:
    steps:
      - run: kubectl set image deployment/${CIRCLE_PROJECT_REPONAME} ${CIRCLE_PROJECT_REPONAME}=gcr.io/${GOOGLE_PROJECT_ID}:${CIRCLE_PROJECT_REPONAME}/${CIRCLE_BRANCH}-${CIRCLE_WORKFLOW_ID}

jobs:
  build_and_push_image:
    executor: default
    steps:
      - checkout
      - run: env > .env.production
      - gcp-gcr/gcr-auth
      - gcp-gcr/build-image:
          image: ${CIRCLE_PROJECT_REPONAME}
          tag: ${CIRCLE_BRANCH}
      - gcp-gcr/push-image:
          image: ${CIRCLE_PROJECT_REPONAME}
          tag: ${CIRCLE_BRANCH} 
  deploy_dev:
    docker:
      - image: google/cloud-sdk:latest
    steps:
      - gcp-gcr/gcr-auth
      - get_cluster:
          cluster: ${DEV_CLUSTER_NAME} 
      - deploy


workflows:
  build_and_push_image:
    jobs:
      - build_and_push_image
      - gcp-gcr/add-image-tag:
          requires:
            - build_and_push_image
          # filters:
          #   branches:
          #     only: [master, dev]
          image: ${CIRCLE_PROJECT_REPONAME}
          registry-url: gcr.io
          source-tag: ${CIRCLE_BRANCH}
          target-tag: ${CIRCLE_BRANCH}-${CIRCLE_WORKFLOW_ID}
      - deploy_dev:
          requires:
            - build_and_push_image
            - gcp-gcr/add-image-tag
          # filters:
          #   branches:
          #     only: [dev]
      - featurepeek/ping_featurepeek:
          requires:
            - build_and_push_image
          image: ${CIRCLE_PROJECT_REPONAME}
          tag: ${CIRCLE_BRANCH}
          env: dev
          filters:
            branches:
              ignore: [master, dev]

