@import "~slick-carousel/slick/slick.css";

/* Button */
.button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 4px 8px;
  text-decoration: none;
}
.button:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(2px);
}

/* Code */
code {
  font-family: "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
}

/* Link */
.active-link, .underline {
  display: inline-block;
  position: relative;
}
.active-link::after, .underline::after {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  bottom: -1px;
  transform: scale(0);
  transition: all 0.15s ease;
  width: 100%;
}
.underline:hover {
  text-decoration: none;
}
.active-link::after, .underline:hover::after {
  transform: scale(1);
}
.underline:hover span {
  opacity: 1;
}
.underline:active span {
  transform: translateY(1px);
}

/* Switch */
.rc-switch {
  margin: 0 16px;
  transform: scale(1.25);
}
.rc-switch, .rc-switch-checked {
  background-color: #05c5cc;
  border-color: #05c5cc;
}

/* Subnav */
.subnav::before {
  background: #fefcfb;
  border-left: 1px solid #f4f4f4;
  border-radius: 2px;
  border-top: 1px solid #f4f4f4;
  box-shadow: none;
  content: '';
  height: 16px;
  left: 104px;
  position: absolute;
  top: -10px;
  transform: rotateZ(45deg);
  width: 16px;
  z-index: -999;
}
.subnav1 {
  border-bottom: 1px solid #eee;
}
.subnav1:hover {
  background: rgba(90, 191, 126, 0.1);
}
.subnav2 {
  border-bottom: 1px solid #eee;
}
.subnav2:hover {
  background: rgba(194, 116, 209, 0.1);
}
.subnav3:hover {
  background: rgba(0, 176, 222, 0.1);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin-forever {
  animation: rotate 60s linear infinite;
}

.polaroid {
  transition: transform 0.3s ease;
}
.polaroid:hover {
  transform: translateY(-4px);
}
.polaroid a:hover {
  text-decoration: none;
}
