.as-seen-on img {
  margin-bottom: 0;
}

/* Button */
.button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 4px 8px;
  text-decoration: none;
}
.button:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(2px);
}

/* Code */
code {
  font-family: "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
}

/* Link */
.active-link, .underline {
  display: inline-block;
  position: relative;
}
.active-link::after, .underline::after {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  bottom: -1px;
  transform: scale(0);
  transition: all 0.15s ease;
  width: 100%;
}
.underline:hover {
  text-decoration: none;
}
.active-link::after, .underline:hover::after {
  transform: scale(1);
}
.underline:hover span {
  color: #13b7d1;
  opacity: 1;
}
.underline:active span {
  transform: translateY(1px);
}

/* Switch */
.rc-switch {
  margin: 0 16px;
  transform: scale(1.25);
}
.rc-switch, .rc-switch-checked {
  background-color: #05c5cc;
  border-color: #05c5cc;
}

/* Subnav */
.subnav::before {
  background: #fefcfb;
  border-left: 1px solid #f4f4f4;
  border-radius: 2px;
  border-top: 1px solid #f4f4f4;
  box-shadow: none;
  content: '';
  height: 16px;
  left: 104px;
  position: absolute;
  top: -10px;
  transform: rotateZ(45deg);
  width: 16px;
  z-index: -999;
}
.subnav1 {
  border-bottom: 1px solid #eee;
}
.subnav1:hover {
  background: rgba(90, 191, 126, 0.1);
}
.subnav2 {
  border-bottom: 1px solid #eee;
}
.subnav2:hover {
  background: rgba(194, 116, 209, 0.1);
}
.subnav3:hover {
  background: rgba(0, 176, 222, 0.1);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin-forever {
  animation: rotate 60s linear infinite;
}

/*.slick-track div {
  outline: none !important;
}
.polaroid {
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.polaroid:hover {
  box-shadow: rgba(67, 90, 111, 0.198039) 0px 8px 16px 0px, rgba(67, 90, 111, 0.170588) 0px 4px 8px -2px;
  transform: scale(1.04);
}
.polaroid a:hover {
  text-decoration: none;
}*/

@media screen and (max-width: 504px) {
  .layout-padding-fouc {
    padding: 16px !important;
  }
}

@media screen and (max-width: 904px) {
  .nav-padding-fouc {
    padding: 8px 0 !important;
  }
  .hero-flex-direction-fouc {
    flex-direction: column !important;
  }
  .hero-fouc {
    width: 100% !important;
  }
}

@media screen and (max-width: 936px) {
  .nav-links-hide-fouc {
    display: none !important;
  }
}

.hover-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.15s ease;
}
.hover-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transform: scale(1.015);
}

/* product update mailchimp overrides */
#campaign td {
  border: 0;
  padding: 0 !important;
}
#campaign .mcnButton {
  padding: 16px !important;
}
#campaign .mcnImage {
  max-width: 100% !important;
}

/* syntax highlighting on blog via prism.js */
.gatsby-highlight pre {
  padding: 16px;
  border-radius: 8px;
  word-wrap: normal;
}
.gatsby-highlight pre > code {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0;
}
#disqus_thread {
  margin-top: 80px;
  width: 100% !important;
}
