/* Button */
.button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 12px 24px;
  text-decoration: none;
}
.button:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(2px);
}

/* Link */
a.underline {
  display: inline-block;
}
.active-link::after, a.underline::after {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  content: '';
  display: block;
  height: 3px;
  position: relative;
  top: -2px;
  transform: scale(0);
  transition: all 0.15s ease;
  width: 100%;
}
a.underline:hover {
  text-decoration: none;
}
a.underline:hover::after {
  transform: scale(1);
}
.active-link span, a.underline:hover span {
  color: #13b7d1;
  opacity: 1;
}
a.underline:active span {
  transform: translateY(1px);
}

/* Switch */
.rc-switch {
  margin: 0 16px;
  transform: scale(1.25);
}
.rc-switch, .rc-switch-checked {
  background-color: #05c5cc;
  border-color: #05c5cc;
}