@import url('https://rsms.me/inter/inter.css');
h1, h2, h3, h4, h5, h6, 
a, b, button, em, i, p, strong { 
  font-family: 'Inter', sans-serif; 
  letter-spacing: -0.011em;
}
@supports (font-variation-settings: normal) {
  h1, h2, h3, h4, h5, h6, 
  a, b, button, em, i, p, strong { 
    font-family: 'Inter var', sans-serif; 
  }
}

body {
  color: #1f2337;
  /*overflow-x: hidden;*/
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.as-seen-on img {
  margin-bottom: 0;
}

/* Button */
.button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 4px 8px;
  text-decoration: none;
}
.button:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(2px);
}

/* Code */
code {
  font-family: "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace !important;
}
p > code.language-text {
  font-size: 14px;
  padding: 1px 5px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #eaeaea;
  text-shadow: none;
  color: #000;
}

/* Link */
.active-link, .underline, .blog-post a, #product-faqs a {
  display: inline-block;
  position: relative;
}
.active-link::after, .underline::after, .blog-post a::after, #product-faqs a::after {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  bottom: -1px;
  transform: scale(0);
  transition: all 0.15s ease;
  width: 100%;
}
.underline:hover {
  text-decoration: none;
}
.active-link::after, .underline:hover::after, .blog-post a:hover::after, #product-faqs a:hover::after {
  transform: scale(1);
}
.underline:hover span {
  color: #13b7d1;
  opacity: 1;
}
.underline:active span {
  transform: translateY(1px);
}

.Typist, .Typist .Cursor {
  display: inline-block; 
}
#terminal a {
  text-decoration: none;
}

/* Switch */
.rc-switch {
  margin: 0 16px;
  transform: scale(1.25);
}
.rc-switch, .rc-switch-checked {
  background-color: #05c5cc;
  border-color: #05c5cc;
}

/* Subnav */
.subnav::before {
  background: #fefcfb;
  border-left: 1px solid #f4f4f4;
  border-radius: 2px;
  border-top: 1px solid #f4f4f4;
  box-shadow: none;
  content: '';
  height: 16px;
  left: 104px;
  position: absolute;
  top: -10px;
  transform: rotateZ(45deg);
  width: 16px;
  z-index: -999;
}
.subnav1 {
  border-bottom: 1px solid #eee;
}
.subnav1:hover {
  background: rgba(0, 176, 222, 0.1);
}
.subnav2:hover {
  background: rgba(0, 176, 222, 0.1);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin-forever {
  animation: rotate 60s linear infinite;
}

/*.slick-track div {
  outline: none !important;
}
.polaroid {
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.polaroid:hover {
  box-shadow: rgba(67, 90, 111, 0.198039) 0px 8px 16px 0px, rgba(67, 90, 111, 0.170588) 0px 4px 8px -2px;
  transform: scale(1.04);
}
.polaroid a:hover {
  text-decoration: none;
}*/

@media screen and (max-width: 504px) {
  .is-hidden-mobile {
    display: none !important;
  }
  .layout-padding-fouc {
    padding: 16px !important;
  }
  #terminal code {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 904px) {
  .nav-padding-fouc {
    padding: 8px 0 !important;
  }
  .hero-flex-direction-fouc {
    flex-direction: column-reverse !important;
  }
  .hero-fouc {
    width: 100% !important;
  }
}

@media screen and (max-width: 936px) {
  .nav-links-hide-fouc {
    display: none !important;
  }
}

.hover-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.15s ease;
}
.hover-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transform: scale(1.015);
}

.blog-post a, #product-faqs a {
  color: #05c5cc;
  text-decoration: none;
}
.blog-post p {
  margin-bottom: 1.5rem;
}
.blog-post blockquote p:last-child {
  margin-bottom: 0;
}
.blog-post blockquote {
  background: rgba(198, 226, 251, 0.2);
  border-color: rgb(0, 124, 255);
  border-radius: 4px;
  margin: 40px 80px;
  padding: 16px;
}
.blog-post strong {
  color: #000;
}
.blog-post h2, .blog-post h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.blog-post > ul > li > p {
  margin-bottom: 0;
}
.blog-post .gatsby-resp-image-wrapper {
  margin-top: 4em;
}
.blog-post .gatsby-resp-image-wrapper + em {
  color: #656b79;
  display: block;
  font-size: 13px;
  margin-bottom: 4em;
  margin-top: 16px;
  text-align: center;
}
.toc {
  font-size: 13px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.toc:hover {
  opacity: 1;
}
.toc a {
  color: #333333;
}
.toc a:hover {
  color: #05c5cc;
  text-decoration: none;
}
.toc li, .toc p {
  margin-bottom: 4px;
}
.toc ul {
  /*list-style-type: none;*/
  margin-top: 0;
  margin-left: 16px;
}
.SocialMediaShareList {
  opacity: 0.5;
  transition: opacity 0.2s ease;
}
.SocialMediaShareList:hover {
  opacity: 1;
}
.SocialMediaShareButton {
  opacity: 0.5;
  transform: scale(0.95);
  transition: all 0.2s ease;
  outline: none;
}
.SocialMediaShareButton:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* product update mailchimp overrides */
#campaign td {
  border: 0;
  padding: 0 !important;
}
#campaign .mcnButton {
  padding: 16px !important;
}
#campaign .mcnImage {
  max-width: 100% !important;
}

/* syntax highlighting on blog via prism.js */
.gatsby-highlight pre {
  padding: 16px;
  border-radius: 8px;
  word-wrap: normal;
}
.gatsby-highlight pre > code {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0;
}
#disqus_thread {
  margin-top: 80px;
  width: 100% !important;
}

.ReactGridGallery_tile {
  background: transparent !important;
}
.ReactGridGallery_tile-viewport {
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: top 0.2s ease;
  position: relative;
  top: 0px;
}
.ReactGridGallery_tile:last-child .ReactGridGallery_tile-viewport {
  margin-right: 24px;
}
.ReactGridGallery_tile-viewport:hover {
  top: -8px;
}
.ReactGridGallery_tile-description {
  font-weight: 600;
  margin-top: 32px !important;
}

.cpr-highlight {
  position: relative;
  white-space: nowrap;
}

.cpr-highlight::before {
  background-color: rgba(255, 238, 0, 0.5);
  border-radius: 3px;
  content: "";
  height: 90%;
  left: -7px;
  top: 3px;
  position: absolute;
  transform: rotate(-1deg);
  width: 102%;
  z-index: -1;
}

@media screen and (max-width: 700px) {
  .cpr-highlight {
    display: block;
    position: relative;
    white-space: inherit;
    max-width: 370px;
  }

  .cpr-highlight::before {
    background-color: rgba(255, 238, 0, 0.5);
    border-radius: 4px;
    content: "";
    left: -24px;
    top: 5px;
    position: absolute;
    transform: rotate(-2deg);
    width: 110%;
    z-index: -1;
  }
}
